In [123]:
import pandas as pd
import json

In [124]:
df = pd.DataFrame()

In [125]:
for i in range(2008,2022):
    file = open("data/winter_"+str(i)+"-"+str(i+1)+".json","r")
    data = json.load(file)
    df = pd.concat([df,pd.json_normalize(data['results'])])
    file.close()
df

                    date datatype            station attributes    value
0    2008-12-15T00:00:00     ADPT  GHCND:USW00003017       ,,W,   -244.0
1    2008-12-15T00:00:00     ASLP  GHCND:USW00003017       ,,W,  10298.0
2    2008-12-15T00:00:00     ASTP  GHCND:USW00003017       ,,W,   8324.0
3    2008-12-15T00:00:00     AWBT  GHCND:USW00003017       ,,W,   -222.0
4    2008-12-15T00:00:00     AWND  GHCND:USW00003017       ,,W,      4.7
..                   ...      ...                ...        ...      ...
695  2022-01-21T00:00:00     WDF2  GHCND:USW00003017       ,,W,     30.0
696  2022-01-21T00:00:00     WDF5  GHCND:USW00003017       ,,W,     50.0
697  2022-01-21T00:00:00     WSF2  GHCND:USW00003017       ,,W,     16.1
698  2022-01-21T00:00:00     WSF5  GHCND:USW00003017       ,,W,     25.1
699  2022-01-21T00:00:00     WT01  GHCND:USW00003017       ,,W,      1.0

[9740 rows x 5 columns]

In [126]:
df = df.query('datatype in ["TMAX", "TMIN"]')
df

                    date datatype            station attributes  value
14   2008-12-15T00:00:00     TMAX  GHCND:USW00003017   ,,0,2400    2.0
15   2008-12-15T00:00:00     TMIN  GHCND:USW00003017   ,,0,2400  -19.0
37   2008-12-16T00:00:00     TMAX  GHCND:USW00003017   ,,0,2400   34.0
38   2008-12-16T00:00:00     TMIN  GHCND:USW00003017   ,,0,2400   -8.0
59   2008-12-17T00:00:00     TMAX  GHCND:USW00003017   ,,0,2400   37.0
..                   ...      ...                ...        ...    ...
652  2022-01-19T00:00:00     TMIN  GHCND:USW00003017   ,,W,2400   17.0
672  2022-01-20T00:00:00     TMAX  GHCND:USW00003017   ,,W,2400   39.0
673  2022-01-20T00:00:00     TMIN  GHCND:USW00003017   ,,W,2400   16.0
693  2022-01-21T00:00:00     TMAX  GHCND:USW00003017   ,,W,2400   36.0
694  2022-01-21T00:00:00     TMIN  GHCND:USW00003017   ,,W,2400   16.0

[1032 rows x 5 columns]

In [127]:
df1 = df.groupby('datatype').get_group("TMAX")[["date","value"]].set_index("date")
df1

                     value
date
2008-12-15T00:00:00    2.0
2008-12-16T00:00:00   34.0
2008-12-17T00:00:00   37.0
2008-12-18T00:00:00   28.0
2008-12-19T00:00:00   44.0
...                    ...
2022-01-17T00:00:00   62.0
2022-01-18T00:00:00   58.0
2022-01-19T00:00:00   31.0
2022-01-20T00:00:00   39.0
2022-01-21T00:00:00   36.0

[516 rows x 1 columns]

In [128]:
df2 = df.groupby('datatype').get_group("TMIN")[["date","value"]].set_index("date")

In [129]:
all_data = pd.concat([df1,df2],axis=1)

In [130]:
all_data

                     value  value
date
2008-12-15T00:00:00    2.0  -19.0
2008-12-16T00:00:00   34.0   -8.0
2008-12-17T00:00:00   37.0   14.0
2008-12-18T00:00:00   28.0    5.0
2008-12-19T00:00:00   44.0   14.0
...                    ...    ...
2022-01-17T00:00:00   62.0   24.0
2022-01-18T00:00:00   58.0   24.0
2022-01-19T00:00:00   31.0   17.0
2022-01-20T00:00:00   39.0   16.0
2022-01-21T00:00:00   36.0   16.0

[516 rows x 2 columns]

In [131]:
all_data.columns = ['TMAX','TMIN']

In [132]:
all_data

                     TMAX  TMIN
date
2008-12-15T00:00:00   2.0 -19.0
2008-12-16T00:00:00  34.0  -8.0
2008-12-17T00:00:00  37.0  14.0
2008-12-18T00:00:00  28.0   5.0
2008-12-19T00:00:00  44.0  14.0
...                   ...   ...
2022-01-17T00:00:00  62.0  24.0
2022-01-18T00:00:00  58.0  24.0
2022-01-19T00:00:00  31.0  17.0
2022-01-20T00:00:00  39.0  16.0
2022-01-21T00:00:00  36.0  16.0

[516 rows x 2 columns]

In [133]:
all_data['TAVG'] = (all_data['TMAX'] + all_data['TMIN'])/2

In [134]:
all_data

                     TMAX  TMIN  TAVG
date
2008-12-15T00:00:00   2.0 -19.0  -8.5
2008-12-16T00:00:00  34.0  -8.0  13.0
2008-12-17T00:00:00  37.0  14.0  25.5
2008-12-18T00:00:00  28.0   5.0  16.5
2008-12-19T00:00:00  44.0  14.0  29.0
...                   ...   ...   ...
2022-01-17T00:00:00  62.0  24.0  43.0
2022-01-18T00:00:00  58.0  24.0  41.0
2022-01-19T00:00:00  31.0  17.0  24.0
2022-01-20T00:00:00  39.0  16.0  27.5
2022-01-21T00:00:00  36.0  16.0  26.0

[516 rows x 3 columns]

In [135]:
import datetime
l=[]
for i in range(len(all_data.index)):
    s = all_data.index[i]
    dt = datetime.datetime.fromisoformat(s)
    l.append(dt.date())
all_data.index=l

In [136]:
all_data

            TMAX  TMIN  TAVG
2008-12-15   2.0 -19.0  -8.5
2008-12-16  34.0  -8.0  13.0
2008-12-17  37.0  14.0  25.5
2008-12-18  28.0   5.0  16.5
2008-12-19  44.0  14.0  29.0
...          ...   ...   ...
2022-01-17  62.0  24.0  43.0
2022-01-18  58.0  24.0  41.0
2022-01-19  31.0  17.0  24.0
2022-01-20  39.0  16.0  27.5
2022-01-21  36.0  16.0  26.0

[516 rows x 3 columns]

In [137]:
all_data.to_csv('data/all_data_max_min_avg.csv')